<form>
  <div
    *ngIf="isCurrentStep(CURRENT_STEP.PERSONAL)"
    personalData
    class="group"
  ></div>
  <div
    *ngIf="isCurrentStep(CURRENT_STEP.PASSWORD)"
    password
    class="group"
  ></div>
  <div
    *ngIf="isCurrentStep(CURRENT_STEP.ADDRESSES)"
    addresses
    class="group"
  ></div>
  <div
    buttons
    [submitDisabled]="!(stepIsValid$ | async)"
    [nextDisabled]="!(stepIsValid$ | async)"
    [backDisabled]="!(stepIsValid$ | async)"
    [backButtonVisible]="(currentStep$ | async).previous"
    [nextButtonVisible]="(currentStep$ | async).next"
    [submitButtonVisible]="!(currentStep$ | async).next"
    (submit)="onSubmit()"
    (next)="onNext()"
    (back)="onBack()"
  ></div>
</form>
