<form>
  <div
    *ngIf="step === FORM_KEYS.PERSONAL_DATA"
    personalData
    class="group"
  ></div>
  <div *ngIf="step === FORM_KEYS.PASSWORD" class="group" password></div>
  <div *ngIf="step === FORM_KEYS.ADDRESSES" class="group" addresses></div>
  <div
    buttons
    [submitDisabled]="!(stepIsValid$ | async)"
    [nextDisabled]="!(stepIsValid$ | async)"
    [backDisabled]="!(stepIsValid$ | async)"
    [backButtonVisible]="(currentStep$ | async).previous"
    [nextButtonVisible]="(currentStep$ | async).next"
    [submitButtonVisible]="!(currentStep$ | async).next"
    (submit)="onSubmit()"
    (next)="onNext()"
    (back)="onBack()"
  ></div>
</form>
