<form>
  <div
    *ngIf="isCurrentStep(StepName.PERSONAL_DATA)"
    personalData
    class="group"
  ></div>
  <div *ngIf="isCurrentStep(StepName.PASSWORD)" class="group" password></div>
  <div *ngIf="isCurrentStep(StepName.ADDRESSES)" addresses class="group"></div>
  <div
    buttons
    [submitDisabled]="!(formIsValid$ | async)"
    [nextDisabled]="!(formStepIsValid$ | async)"
    [backDisabled]="!(formStepIsValid$ | async)"
    [backButtonVisible]="hasPreviousStep$ | async"
    [nextButtonVisible]="hasNextStep$ | async"
    [submitButtonVisible]="!(hasNextStep$ | async)"
    (submit)="onSubmit()"
    (next)="onNext()"
    (back)="onBack()"
  ></div>
</form>
